
body {
	font-family: Verdana;
}

h1 {	
	color: #666666;
}

h2 {
	color: #f07c17;
}

p, li {
	color: #666666;
	line-height: 2;
}

#title {
	margin-left: 259px;
	margin-top: 45px;
	font-style: normal;
	font-size: 136%;
}

#feature {
	border: 2px solid lightgrey;
	width: 339px;
	height: 212px;
	margin-top: 26px;
	margin-left: 32px;
	padding-top: 10px;
	padding-left: 35px;
}

#list {
	margin-top: 28px;
	margin-left: -5px;
}

#rightTitle {
	margin-left: 438px;
	margin-top: -648px;
}

#paragraph_1 {
	margin-left: 439px;
	margin-top: 29px;
	width: 530px;
	height: 700px;
}

#paragraph_2 {
	margin-left: 438px;
	margin-top: -451px;
	width: 545px;
	height: 700px;
}

#paragraph_3 {
	margin-left: 440px;
	margin-top: -513px;
	width: 540px;
	height: 700px;
}

#cup {	
	margin-left: 35px;
	width: 375px;
	height: 375px;
}

body {
  background-image: url(page-mock.png);
  background-size: 1024px 885px;
  background-repeat: no-repeat;
}
